* {
  padding: 0;
  margin: 0;
}

:root {
  --black: #070d1b;
  --blue: #034dac;
  --white: #f0f1f4;
  --purple: #9477ef;
}

a {
  text-decoration: none;
  color: var(--purple);
}

a:visited {
  color: red;
}

a:active {
  color: var(--blue);
}

body {
  background-color: var(--black);
  font-size: 14px;
}

.current-day-and-time {
  gap: 3rem !important;
}

.first-section {
  justify-content: space-between;
  padding-top: 3rem;
  margin: 3rem 0;
  background-color: var(--white);
  padding-bottom: 3rem;
}

.flex-center {
  display: flex;
  align-items: center;
  gap: 5px;
}

.goal-container {
  margin-bottom: 3rem;
}

.goals {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 20px;
  margin-top: 20px;
  font-size: larger;
  list-style: none;
  /* overflow-y: scroll; */
}

.goals .goal {
  border-radius: 15px;
  padding: 20px;
  height: 30vh;
}

.goals .goal:nth-child(even) {
  background-color: var(--blue);
  color: var(--white);
  transition: transform 1s;
}

.goals .goal:nth-child(even):hover {
  background-color: var(--white);
  color: var(--blue);
  transform: scale(1.05);
  border-bottom: 20px solid var(--blue);
  border-left: 20px solid var(--blue);
  border-top-left-radius: 0;
}

.goals .goal:nth-child(odd) {
  background-color: var(--white);
  color: var(--blue);
  transition: transform 1s;
}

.goals .goal:nth-child(odd):hover {
  background-color: var(--blue);
  color: var(--white);
  transform: scale(1.05);
  border-bottom: 20px solid var(--white);
  border-left: 20px solid var(--white);
  border-top-left-radius: 0;
}

.goal-title {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
}

header {
  background-color: var(--blue);
  padding: 5rem;
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--white);
}

.links-to-others {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mt {
  margin-top: 20px;
}

.my-name {
  text-align: center;
}

section {
  padding-left: 4rem;
  padding-right: 4rem;
}




@media (max-width: 992px) {
  .first-section {
    flex-direction: column;
    align-content: space-between;
    gap: 3rem !important;
    font-size: 20px;
  }
  .goals {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 768px) {
  .flex-center {
    flex-direction: column;
    text-align: center;
  }
  .goals {
    grid-template-columns: 1fr;
  }
  section {
    padding-left: 10px;
    padding-right: 10px;
  }
}